body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}